@keyframes teste {
    0%{
        opacity: 1;
        background-color: #030303;
        header, section{
            opacity: 0;
        }
    }
    30%{
        opacity: 1 ;
        background-color: #0065FC;
        header, section{
            opacity: 0;
        }
    }
    80%{
        opacity: 0.3;
        header, section{
            opacity: 0;
        }
    }
    100%{
        opacity: 0;
    }
}
@keyframes teste2{
    10%{
        transform: rotate(40deg);

    }
    100%{
        transform: rotate(360deg);
    }
}
.chargement-encours {
    background-color: aqua;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    animation: teste 3s forwards;
}

.chargement {
        height: 200px; 
         width: 40%; 
        display: flex;
        justify-content: center;
        z-index: 22;
        position: absolute;
        top: 50%;
        left: 26%;
        animation: teste 3s forwards;
}
.chargement img{
    width: 40%;
    height: 200px;
    object-fit: cover;
    animation: teste2 2s forwards ;
}
.tout {
    margin: 16px;
}

a {
    text-decoration: none;
    color: #030303;
}

.entete {
    display: flex;
    justify-content: space-between;
}

.entete img {
    width: 100px;
    height: 57px;
}

.listecontenu {
    display: flex;
}

.contenu {
    margin-right: 41px;
    list-style: none;
}

.titre h1 {
    margin-bottom: -15px;
}

.menu {
    display: flex;
    gap: 22px;
    margin-top: 16px;
}

.recherche button {
    border-radius: 0 10px 10px 0;
    height: 40px;
    width: 118px;
    margin-left: -5px;
    background-color: #0065FC;
    color: #fff;
}

.recherche input {
    width: 211px;
    height: 34px;
}

.menu button {
    border-radius: 22px;
    width: 163px;
    height: 46px;
    padding: 16px;
}

.ensembleContenu {
    display: flex;
}

.article {
    background-color: #F2F2F2;
    width: 65%;
    border-radius: 10px;
    padding: 16px;
}

.article img {
    width: 217px;
    height: 154px;
    object-fit: cover;
}

.contener {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.composants {
    width: 30%;
    height: 240px;
    background-color: #ffff;
    border-radius: 12px;
    padding: 2px;
}

.imageArticle {
    width: 21%;
    height: 198px;
    background: #ffff;
    border-radius: 12px 12px 0 0;
    padding: 4px;
    object-fit: cover;
}

.message {
    padding: 7px;
}

.message h3 {
    margin-top: -9px;
    font-size: 16px;
}

.message h5 {
    margin-top: -11px;
}

.populaire {
    background-color: #F2F2F2;
    width: 30%;
    margin-left: 20px;
    border-radius: 10px;
}

.composant {
    width: 286px;
    display: flex;
    background-color: #ffff;
    border-radius: 15px;
    margin: 22px;
    padding: 5px;
}

.imagearticle {
    width: 146px;
    border-radius: 10px 0 0 10px;
    height: 130px;
}

.icone1 {
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    width: 35px;
    height: 40px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.recherche {
    display: flex;
}

.menu i {
    margin: 0 7px 0 0;
    padding: 9px;
    background-color: #DEEBFF;
    border-radius: 50%;
    color: blue;
}

.menu span {
    width: 162px;
    height: 35px;
    /* background: antiquewhite; */
    border: solid 0.5px;
    border-radius: 19px;
}

.menu h3 {
    margin-top: 25px;
}

p a {
    padding: 10px;
    border-radius: 50%;
    border: solid 0.5px;
}

.composant1 {
    width: 250px;
    height: 333px;
    background: white;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 0px 3px 0px;
    margin: 18px;
}

.imagear {
    height: 305px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

.h5 {
    margin: 3px 38px 10px 16px;
}

.composant2 {
    display: flex;

}

.activite {
    margin-top: 44px;
}

.etoile {
    margin-top: -13px;
    color: blue;
}

.etoile_populaire {
    color: blue;
    margin-top: 55px;
}

.flou {
    color: #F2F2F2;
}

.composant3 {
    width: 250px;
    height: 155px;
    background: white;
    border-radius: 10px;
    justify-content: center;
    box-shadow: 0px 0px 3px 0px;
    margin: 18px;
}

.imagepetit {
    height: 120px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin: 20px;
}

.footer {
    height: 200px;
    background-color: #F2F2F2;
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}

.footer1 {
    margin-left: -92px;
}

.encercle_i {
    display: flex;
    align-items: baseline
}

.ironde {
    margin: 10px;
    height: 20px;
    width: 20px;
    /* background: aqua; */
    text-align: center;
    border-radius: 50pc;
    border: solid 0.5px;
}

.masquer {
    display: none;
}

@media screen and (max-width:767px) {
    body {
        width: fit-content;
    }

    .entete {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .entete img {
        height: 129px;
        width: 246px
    }

    .contenu {
        font-size: 46px;
    }

    .titre {
        font-size: 40px;
    }

    .form {
        display: flex;
        justify-content: center;
        padding: 18px;
    }

    .recherche button {
        width: 149px;
        height: 94px;
        border-radius: 32px;
        text-align: center;
        margin-left: -54px;

    }

    .masquer {
        display: block;
        font-size: 74px;
    }

    .icone1 {
        width: 129px;
        height: 93px;
        font-size: 58px;
    }

    .recherche input {
        width: 791px;
        height: 87px;
        font-size: 60px;
        font-weight: 800;
    }

    .afficher {
        display: none;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
    }
}